<h2>Methods that were not run</h2><table>
<tr><td>com.petstore.APITestingFramework.cuke.setUp.BaseTest.setup</td></tr>
<tr><td>com.petstore.APITestingFramework.cuke.setUp.BaseTest.setup</td></tr>
<tr><td>com.petstore.APITestingFramework.cuke.setUp.BaseTest.setup</td></tr>
<tr><td>com.petstore.APITestingFramework.cuke.setUp.BaseTest.tearDown</td></tr>
<tr><td>com.petstore.APITestingFramework.cuke.setUp.BaseTest.tearDown</td></tr>
<tr><td>com.petstore.APITestingFramework.cuke.setUp.BaseTest.tearDown</td></tr>
</table>