<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76a9af">  <td>21/03/25 10:05:53</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setup()[pri:0, instance:com.petstore.APITestingFramework.cuke.apis.StoreAPI@31f9b85e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1151844284</td>   <td></td> </tr>
<tr bgcolor="76a9af">  <td>21/03/25 10:05:55</td>   <td>1335</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.petstore.APITestingFramework.cuke.apis.StoreAPI@31f9b85e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1151844284</td>   <td></td> </tr>
</table>
