<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbabdc">  <td>21/03/25 10:10:19</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setup()[pri:0, instance:com.petstore.APITestingFramework.cuke.apis.UserAPI@5bda8e08]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1487500813</td>   <td></td> </tr>
<tr bgcolor="bbabdc">  <td>21/03/25 10:10:20</td>   <td>1109</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.petstore.APITestingFramework.cuke.apis.UserAPI@5bda8e08]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1487500813</td>   <td></td> </tr>
</table>
